[user]
	name = hkawabata
	email = meiwaku_mail_iyaaaaa@yahoo.co.jp
[alias]
	ch = checkout
	co = commit
	st = status
	br = branch
	l = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto